@import "tailwindcss";

@layer base {
  :root {
    font-family: "SourceHanSansCN-VF";
  }

  body {
    @apply bg-black text-white;
    background-image: url("/bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
}

@font-face {
  font-family: "SamigirianSerif";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/SamigirianSerif-Regular.ttf");
}

@font-face {
  font-family: "SourceHanSansCN-VF";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/SourceHanSansCN-VF.ttf");
}

@font-face {
  font-family: "FZZYS";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/方正准雅宋_GBK.ttf");
}

@font-face {
  font-family: "Novecento";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Novecento-Wide-Normal-2.otf");
}

@font-face {
  font-family: "EightBitOperator";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/8bitOperatorPlus8-Regular.ttf");
}
